/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: #e3e3e6;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .upload-form {
    margin: 0 auto;
    /* margin-top: 30px; */
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .upload-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  input[type="file"] {
    display: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  